 * {
   line-height: normal;
   margin: 0;
   padding: 0;
 }

 html {
   --nav: #fff;
   --navassets: #000;
   --body: #000;
   --bodyfont: #fff;
   --background: #fff;
   --logo: url(../img/logo-zwart.svg);
   --selection: #000000;
   --selection-hover: #fff;
   --textshadow: #000;
   --extra: #fff;
 }

 ::selection {
   color: var(--selection);
   background: var(--selection-hover);
 }

 [data-theme="color"] {
   --nav: #011638;
   --navassets: #F4F1DE;
   --body: #F4F1DE;
   --bodyfont: #011638;
   --background: #011638;
   --logo: url(../img/logo-wit.svg);
   --selection: #F4F1DE;
   --selection-hover: #011638;
   --textshadow: #F4F1DE;
   --extra: #F4845F;
 }

 body {
   background-color: var(--body);
   transition: .15s ease-out;
 }

 p {
   color: var(--bodyfont);
   font-family: 'Fauna One', serif;
   margin: 0;
   transition: .15s ease-out;
 }

 a:hover {
   text-decoration: none;
 }

 .logo {
   align-self: center;
   background-image: var(--logo);
   background-repeat: no-repeat;
   background-size: contain;
   display: grid;
   grid-column-start: 1;
   grid-row-start: 1;
   height: 3em;
   margin-left: auto;
   margin-right: auto;
   transition: .15s ease-out;
   width: 3em;
 }

 .navigatie {
   background-color: var(--nav);
   border-right: 2px solid var(--border);
   bottom: 0;
   color: #FEDE66;
   column-gap: 5vw;
   display: grid;
   grid-template-columns: 20vw 50vw 20vw;
   height: 11vh;
   transition: .15s ease-out;
   width: 100vw;
   z-index: 99;
   position: fixed;
 }

 .navigatie ul {
   display: flex;
   font-family: 'Source Sans Pro', sans-serif;
   justify-content: space-evenly;
   width: 15em;
   font-size: 1.5em;
   font-weight: 900;
   list-style: none;
   margin: 0;
   padding: 0;
   place-self: center;
   text-align: center;
   z-index: 99;
   text-transform: uppercase;
 }

 .navigatie ul a {
   color: var(--navassets);
   text-decoration: none;
   transition: .15s ease-out;
   z-index: 99;
 }

 .navigatie ul a:hover {
   color: var(--navassets);
   text-decoration: none;
 }

 .navigatie p {
   color: var(--navassets);
   font-family: 'Source Sans Pro', sans-serif;
   font-size: .5em;
   padding-bottom: 3em;
   text-align: center;
 }

 .top {
   display: none;
 }

 .sticky {
   bottom: 0;
   position: fixed;
   top: auto;
   width: 100%;
 }

 .sticky+.content {
   padding-top: 60px;
 }

 section {
   height: 85vh;
   margin-bottom: 10em;
 }

 section h1 {
   color: var(--bodyfont);
   font-family: 'Playfair Display', serif;
   font-size: 3em;
   font-weight: bold;
   margin: 0;
   transition: .15s ease-out;
 }

 section h2 {
   color: var(--extra);
   font-family: 'Playfair Display', serif;
   font-weight: bold;
   margin: 0;
   transition: .15s ease-out;
   text-shadow:
     1px 0px var(--textshadow), 0px 1px var(--textshadow),
     2px 1px var(--textshadow), 1px 2px var(--textshadow),
     3px 2px var(--textshadow), 2px 3px var(--textshadow),
     4px 3px var(--textshadow), 3px 4px var(--textshadow),
     5px 4px var(--textshadow), 4px 5px var(--textshadow),
     6px 5px var(--textshadow), 5px 6px var(--textshadow),
     7px 6px var(--textshadow);
   line-height: 1;
 }

 .first-section {
   display: grid;
   grid-template-rows: 75vh 10vh;
 }

 .first-section p {
   font-family: 'Source Sans Pro', sans-serif;
   text-transform: uppercase;
   text-align: center;
   font-weight: bold;
   font-size: 1em;
 }

 .first-section span {
   font-weight: 900;
 }

 .first-section a {
   font-weight: 900;
   color: var(--bodyfont);
 }

 .first-section h1 {
   text-align: left;
   font-size: 3em;
   font-weight: 300;
   line-height: 1.5;
   width: 80vw;
 }

 .second-section {
   grid-column-gap: 4vw;
   display: grid;
   grid-template-columns: 2vw 55vw 30vw;
   grid-template-rows: 10vh 35vh 35vh;
 }

 .second-section h2 {
   font-size: 8em;
   grid-column-start: 2;
   grid-row-start: 1;
   justify-self: start;
   z-index: 89;
   width: 70%;
 }

 .second-section .img {
   background-attachment: fixed;
   background-image: url(../img/ebtg.png);
   background-position: left;
   background-repeat: no-repeat;
   background-size: cover;
   grid-column-start: 2;
   grid-row-end: 4;
   grid-row-start: 2;
   justify-self: start;
   width: 55vw;
   filter: contrast(100%);
 }

 .second-section p {
   font-family: 'Fauna One', serif;
   /* font-size: 1.5em; */
   font-size: 1.2vw;
   grid-column-start: 3;
   grid-row-end: 3;
   grid-row-start: 2;
   justify-self: start;
   line-height: 1.7em;
 }

 .second-section a {
   align-self: end;
   border: 2px solid var(--extra);
   color: var(--extra);
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   grid-column-start: 3;
   grid-row-start: 3;
   text-transform: uppercase;
   width: 7.7em;
   padding: .6em;
   z-index: 1;
   transition: .15s ease-out;
 }

 .second-section-2 {
   grid-column-gap: 4vw;
   display: grid;
   grid-template-columns: 2vw 30vw 55vw;
   grid-template-rows: 10vh 45vh 25vh;
   margin-bottom: 0;
 }

 .second-section-2 h2 {
   font-size: 8em;
   grid-column-start: 3;
   grid-row-start: 1;
   justify-self: start;
   z-index: 89;
 }

 .second-section-2 .img {
   background-attachment: fixed;
   background-image: url(../img/clashofcultures.jpg);
   background-position: right;
   background-repeat: no-repeat;
   background-size: cover;
   grid-column-start: 3;
   grid-row-end: 4;
   grid-row-start: 2;
   justify-self: start;
   width: 55vw;
   right: 200px;
   filter: contrast(100%);
 }

 .second-section-2 p {
   font-family: 'Fauna One', serif;
   font-size: 1.2vw;
   grid-column-start: 2;
   grid-row-end: 3;
   grid-row-start: 2;
   justify-self: start;
   line-height: 1.7em;
 }

 .second-section-2 a {
   align-self: end;
   border: 2px solid var(--extra);
   color: var(--extra);
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   grid-column-start: 2;
   grid-row-start: 3;
   text-transform: uppercase;
   width: 7.7em;
   padding: .6em;
   z-index: 1;
   transition: .15s ease-out;
 }

 .morework {
   height: 55vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .morework p {
   border: 2px solid var(--extra);
   color: var(--extra);
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   text-transform: uppercase;
   padding: .6em;
   transition: .15s ease-out;
 }

 .third-section {
   grid-column-gap: 4vw;
   display: grid;
   grid-template-columns: 2vw 45vw 40vw;
   grid-template-rows: 10vh 35vh 35vh;
 }

 .third-section h2 {
   font-size: 8em;
   grid-column-start: 2;
   grid-row-start: 1;
   justify-self: start;
   z-index: 89;
 }

 .third-section .img {
   background-attachment: fixed;
   background-image: url(../img/thomasstevens.jpg);
   background-position: center left;
   background-repeat: no-repeat;
   background-size: contain;
   grid-column-start: 2;
   grid-row-end: 4;
   grid-row-start: 2;
   justify-self: start;
   width: 45vw;
   filter: contrast(100%);
 }

 .third-section a {
   border: 2px solid var(--extra);
   color: var(--extra);
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   grid-column-start: 3;
   grid-row-start: 3;
   text-transform: uppercase;
   width: 9em;
   padding: .6em;
   align-self: end;
   z-index: 1;
   transition: .15s ease-out;
 }

 .third-section p {
   font-family: 'Fauna One', serif;
   font-size: 1.2vw;
   grid-column-start: 3;
   grid-row-end: 3;
   grid-row-start: 2;
   justify-self: start;
   line-height: 1.7em;
 }

 .third-section q {
   font-family: 'Fauna One', serif;
   font-size: 1.2vw;
   grid-column-start: 3;
   grid-row-end: 3;
   grid-row-start: 4;
   justify-self: start;
   line-height: 1.7em;
   padding-top: 2em;
 }

 .fourth-section {
   margin: 0;
   height: 80vh;
 }

 .fourth-section h2 {
   font-size: 8em;
   display: flex;
   justify-content: center;
   padding-bottom: .2em;
 }

 .fourth-section a {
   font-size: 1.2em;
   font-family: 'Fauna One', serif;
   color: var(--extra);
   display: flex;
   justify-content: center;
   margin-right: auto;
   margin-left: auto;
   width: 10.5em;
   margin-bottom: .5em;
 }

 .work-section {
   height: 85vh;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .work-section h1 {
   text-align: center;
   font-size: 8em;
   font-smooth: auto;
 }

 .work-section-2 {
   height: 100vh;
   margin-bottom: 5em;
   display: grid;
 }

 .work-section-2 .img {
   background-attachment: fixed;
   background-image: url(../img/clashofcultures.jpg);
   background-position: center left;
   background-repeat: no-repeat;
   background-size: cover;
   justify-self: center;
   width: 85vw;
 }

 .work-section-3 {
   display: grid;
   grid-template-columns: 50vw 30vw;
   column-gap: 5vw;
   grid-template-rows: 7vh;
   width: 85vw;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 6em;
   height: 70vh;
 }

 .work-section-3 h2 {
   grid-column-start: 1;
   grid-row-start: 1;
   font-size: 2em;
 }

 .work-section-3 p {
   grid-column-start: 1;
   grid-row-start: 2;
   font-size: 1.5em;
   line-height: 1.7em;
 }

 .work-section-3 .img {
   grid-row-start: 2;
   background-attachment: fixed;
   background-image: url(../img/opdracht.jpg);
   background-position: center right;
   background-repeat: no-repeat;
   background-size: cover;
   justify-self: center;
   width: 30vw;
 }

 .work-section-4 {
   display: grid;
   grid-template-columns: 60vw 20vw;
   grid-template-rows: 5vh;
   column-gap: 5vw;
   width: 85vw;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0;
   height: 100vh;
 }

 .content {
   display: flex;
   flex-direction: column;
   position: relative;
   justify-content: center;
   align-items: center;
   overflow: hidden;
 }

 .distort {
   position: absolute;
   pointer-events: none;
   will-change: transform;
 }

 .distort__img {
   opacity: 0;
 }

 .menu {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   text-align: center;
   font-weight: normal;
 }

 .menu__link {
   transition: .15s ease-out;
 }

 /* Scroll down animation */
 .bounce {
   -moz-animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
   animation: bounce 2s infinite;
 }

 @keyframes bounce {
   0%, 20%, 50%, 80%, 100% {
     transform: translateY(0);
   }

   40% {
     transform: translateY(-30px);
   }

   60% {
     transform: translateY(-15px);
   }
 }

 .turn {
   -moz-animation: turn 2s infinite;
   -webkit-animation: turn 2s infinite;
   animation: turn 2s infinite;
 }

 @keyframes turn {
   0%, 20%, 50%, 80%, 100% {
     transform: rotate(0deg);
   }

   33% {
     transform: rotate(10deg);
   }

   66% {
     transform: rotate(-10deg);
   }

   100% {
     transform: rotate(0deg);
   }
 }

 .arrow p{
   color: var(--extra);
 }

 /* -------------------------------------------------- */
 /* -------------------------------------------------- */
 /* Dark Mode */
 /*slider switch css */
 .theme-switch-wrapper {
   align-self: center;
   display: grid;
   grid-column-start: 3;
   grid-row-start: 1;
   justify-content: center;
 }

 .theme-switch-wrapper p {
   font-size: 1em;
   margin-left: 10px;
 }

 .theme-switch {
   display: inline-block;
   height: 26px;
   position: relative;
   width: 44px;
 }

 .theme-switch input {
   display: none;
 }

 .slider {
   background-color: var(--navassets);
   bottom: 0;
   cursor: pointer;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   transition: .4s;
 }

 .slider:before {
   background-color: var(--nav);
   bottom: 4px;
   content: "";
   height: 18px;
   left: 4px;
   position: absolute;
   transition: .4s;
   width: 18px;
 }

 input:checked+.slider {
   background-color: var(--navassets);
 }

 input:checked+.slider:before {
   transform: translateX(18px);
 }

 .slider.round {
   /* border-radius: 34px; */
 }

 .slider.round:before {
   /* border-radius: 50%; */
 }

 /* -------------------------------------------------- */
 @media (min-width: 1024px) {
   .second-section p {
     font-size: 1.5vw;
   }

   .second-section-2 p {
     font-size: 1.5vw;
   }

   .third-section p {
     font-size: 1.5vw;
   }
 }

  @media (max-width: 1200px) {
    .second-section .img{
      background-attachment: scroll;
    }

    .second-section-2 .img{
      background-attachment: scroll;
    }

    .third-section .img {
      background-size: cover;
      background-attachment: scroll;
    }
}

 @media (max-width: 1070px) {
   .second-section {
     grid-template-columns: 100%;
     grid-template-rows: 60vh 250px 10vh;
     padding-bottom: 15em;
   }

   .second-section .img {
     grid-column-start: 1;
     grid-row-start: 1;
     grid-row-end: 2;
     background-position: center center;
     width: 100%;
   }

   .second-section h2 {
     grid-column-start: 1;
     padding: 0 50px;
     margin-top: -80px;
     font-size: 6em;
   }

   .second-section p {
     grid-column-start: 1;
     grid-row-start: 2;
     margin: 3em;
     align-self: flex-start;
     font-size: 1em;
   }

   .second-section a {
     grid-column-start: 1;
     grid-row-start: 3;
     margin-left: 2em;
     align-self: flex-end;
   }

   .second-section-2 {
     grid-template-columns: 100%;
     grid-template-rows: 60vh 150px 10vh;
   }

   .second-section-2 .img {
     grid-column-start: 1;
     grid-row-start: 1;
     grid-row-end: 2;
     width: 100%;
   }

   .second-section-2 h2 {
     grid-column-start: 1;
     padding: 0 50px;
     margin-top: -80px;
     font-size: 6em;
   }

   .second-section-2 p {
     grid-column-start: 1;
     grid-row-start: 2;
     margin: 3em;
     align-self: flex-start;
     font-size: 1em;
   }

   .second-section-2 a {
     grid-column-start: 1;
     grid-row-start: 3;
     margin-left: 2em;
     align-self: flex-end;
   }

   .morework {
     padding: 7em 0;
   }

   .third-section {
     grid-template-columns: 100%;
     grid-template-rows: 60vh 230px 10vh;
     padding-bottom: 7em;
   }

   .third-section .img {
     grid-column-start: 1;
     grid-row-start: 1;
     grid-row-end: 2;
     width: 100%;
   }

   .third-section h2 {
     grid-column-start: 1;
     padding: 0 50px;
     margin-top: -80px;
     font-size: 6em;
   }

   .third-section p {
     grid-column-start: 1;
     grid-row-start: 2;
     margin: 3em;
     align-self: flex-start;
     font-size: 1em;
   }

   .third-section a {
     grid-column-start: 1;
     grid-row-start: 3;
     margin-left: 2em;
     align-self: flex-end;
   }
 }

 @media (max-width: 768px) {
   .hvr-underline-from-left:before {
     height: 2px;
   }
 }

 @media (max-width: 590px) {
   .navigatie {
     column-gap: 5vw;
     grid-template-columns: 20vw 55vw 15vw;
   }

   .top {
     display: grid;
     place-self: center;
     margin-right: 1.5em;
   }

   .theme-switch-wrapper {
     display: none;
   }

   .distort {
     opacity: 0;
   }

   .first-section h1 {
     font-size: 2.4em;
   }

   .navigatie ul {
     font-size: 1em;
     width: 18em;
   }

   .logo {
     height: 2.2em;
     margin-left: 2em;
   }

   .theme-switch {
     display: inline-block;
     height: 22px;
     position: relative;
     width: 40px;
   }

   .slider:before {
     height: 14px;
     width: 14px;
   }

   .second-section {
     grid-template-rows: 60vh 250px;
   }

   .second-section a {
     margin-top: 2em;
   }

   .second-section-2 {
     grid-template-rows: 60vh 150px;
   }

   .second-section-2 a {
     margin-top: 2em;
   }

   .third-section {
     grid-template-rows: 60vh 220px;
   }

   .third-section a {
     margin-top: 2em;
   }
 }

 @media (max-width: 500px) {
   .navigatie ul {
     font-size: .9em;
     width: 15em;
   }

   .first-section {
     grid-template-rows: 65vh 15vh;
     margin-bottom: 5em;
   }

   .first-section h1 {
     font-size: 2em;
   }

   .second-section h2 {
     font-size: 4em;
   }

   .second-section-2 h2 {
     font-size: 4em;
   }

   .third-section h2 {
     font-size: 4em;
     margin-top: -60px;
   }

   .fourth-section h2 {
     font-size: 4em;
   }

   .second-section a {
     margin-top: 3.5em;
   }

   .second-section-2 a {
     margin-top: 3.5em;
   }

   .third-section a {
     margin-top: 3.5em;
   }
 }
