 * {
   line-height: normal;
   margin: 0;
   padding: 0;
 }

 html {
   --nav: #FEDE66;
   --navassets: #30353D;
   --body: #30353D;
   --bodyfont: #FEDE66;
   --background: #FEDE66;
   --logo: url(../img/logo-grijs.svg);
 }

 [data-theme="dark"] {
   --nav: #fff;
   --navassets: #000;
   --body: #000;
   --bodyfont: #fff;
   --background: #fff;
   --logo: url(../img/logo-zwart.svg);
 }

 body {
   background-color: var(--body);
   transition: .15s ease-out;
 }

 p {
   color: var(--bodyfont);
   font-family: 'Source Sans Pro', sans-serif;
   margin: 0;
   transition: .15s ease-out;
 }

 a:hover{
  text-decoration: none;
}

 .logo {
   align-self: center;
   background-image: var(--logo);
   background-repeat: no-repeat;
   background-size: contain;
   display: grid;
   grid-column-start: 1;
   grid-row-start: 1;
   height: 4em;
   margin-left: auto;
   margin-right: auto;
   transition: .15s ease-out;
   width: 4em;
 }

 nav {
   background-color: var(--nav);
   border-right: 2px solid var(--border);
   bottom: 0;
   color: #FEDE66;
   column-gap: 5vw;
   display: grid;
   grid-template-columns: 20vw 50vw 20vw;
   height: 15vh;
   transition: .15s ease-out;
   width: 100vw;
   z-index: 99;
 }

 nav ul {
   display: flex;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   list-style: none;
   margin: 0;
   place-self: center;
   text-align: center;
   text-transform: uppercase;
 }

 nav ul a {
   color: var(--navassets);
   text-decoration: none;
   transition: .15s ease-out;
 }

 nav ul a:hover {
   color: var(--navassets);
   text-decoration: none;
 }

 nav li {
   padding: 0 .8em;
 }

 nav p {
   color: var(--navassets);
   font-family: 'Source Sans Pro', sans-serif;
   font-size: .5em;
   padding-bottom: 3em;
   text-align: center;
 }

 .sticky {
   bottom: 0;
   position: fixed;
   top: auto;
   width: 100%;
 }

 .sticky+.content {
   padding-top: 60px;
 }

 section {
   height: 85vh;
   margin-bottom: 10em;
 }

 section h1 {
   color: var(--bodyfont);
   font-family: 'Playfair Display', serif;
   font-size: 3em;
   font-weight: bold;
   margin: 0;
   transition: .15s ease-out;
 }

 .first-section {
   display: grid;
 }

 .first-section p {
   text-align: center;
 }

 .first-section h1 {
   align-self: center;
   text-align: center;
 }

 .second-section {
   grid-column-gap: 5vw;
   display: grid;
   grid-template-columns: 2vw 55vw 30vw;
   grid-template-rows: 10vh 35vh 35vh;
 }

 .second-section h1 {
   font-size: 8em;
   grid-column-start: 2;
   grid-row-start: 1;
   justify-self: start;
 }

 .second-section .img {
   background-attachment: fixed;
   background-image: url(../img/clashofcultures.jpg);
   background-position: center left;
   background-repeat: no-repeat;
   background-size: contain;
   grid-column-start: 2;
   grid-row-end: 4;
   grid-row-start: 2;
   justify-self: start;
   width: 55vw;
 }

 .second-section p {
   font-family: 'Playfair Display', serif;
   font-size: 1.5em;
   grid-column-start: 3;
   grid-row-end: 3;
   grid-row-start: 2;
   justify-self: start;
   line-height: 1.5em;
 }

 .second-section a {
   border: 2px solid var(--bodyfont);
   color: var(--bodyfont);
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   grid-column-start: 3;
   grid-row-start: 3;
   height: 5vh;
   text-transform: uppercase;
   width: 7.7em;
   padding: .6em;
   z-index: 1;
 }

 .second-section-2 {
   grid-column-gap: 5vw;
   display: grid;
   grid-template-columns: 2vw 30vw 55vw;
   grid-template-rows: 10vh 35vh 35vh;
 }

 .second-section-2 h1 {
   font-size: 8em;
   grid-column-start: 3;
   grid-row-start: 1;
   justify-self: start;
 }

 .second-section-2 .img {
   background-attachment: fixed;
   background-image: url(../img/projectweb.jpg);
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;
   grid-column-start: 3;
   grid-row-end: 4;
   grid-row-start: 2;
   justify-self: start;
   width: 55vw;
   right: 200px;
 }

 .second-section-2 p {
   font-family: 'Playfair Display', serif;
   font-size: 1.5em;
   grid-column-start: 2;
   grid-row-end: 3;
   grid-row-start: 2;
   justify-self: start;
 }

 .second-section-2 a {
   border: 2px solid var(--bodyfont);
   color: var(--bodyfont);
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   grid-column-start: 2;
   grid-row-start: 3;
   height: 5vh;
   text-transform: uppercase;
   width: 7.7em;
   padding: .6em;
   z-index: 1;
 }

 .third-section {
   grid-column-gap: 5vw;
   display: grid;
   grid-template-columns: 2vw 45vw 40vw;
   grid-template-rows: 10vh 35vh 35vh;
 }

 .third-section h1 {
   font-size: 8em;
   grid-column-start: 2;
   grid-row-start: 1;
   justify-self: start;
 }

 .third-section .img {
   background-attachment: fixed;
   background-image: url(../img/thomasstevens.jpg);
   background-position: center left;
   background-repeat: no-repeat;
   background-size: contain;
   grid-column-start: 2;
   grid-row-end: 4;
   grid-row-start: 2;
   justify-self: start;
   width: 45vw;
 }

 .third-section a {
   border: 2px solid var(--bodyfont);
   color: var(--bodyfont);
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 1.5em;
   font-weight: 900;
   grid-column-start: 3;
   grid-row-start: 3;
   height: 5vh;
   text-transform: uppercase;
   width: 9em;
   padding: .6em;
   align-self: flex-end;
   z-index: 1;
 }

 .fourth-section{
   margin: 0;
 }

 .fourth-section h1{
   font-size: 8em;
   display: flex;
   justify-content: center;
   align-items: flex-start;
 }

 .fourth-section a{
   font-size: 1.5em;
   font-family: 'Playfair Display', serif;
   color: var(--bodyfont);
   display: flex;
   justify-content: center;
   margin-right: auto;
   margin-left: auto;
   width: 10.5em;
   margin-bottom: .3em;
 }

 .fourth-section a:last-of-type{
   width: 6.3em;
 }

 .link{
   position: relative;
 }

 .link:after{
   content: '';
   position: absolute;
   width: 0; height: 3px;
   display: block;
   margin-top: 35px;
   right: 0;
   background: var(--bodyfont);
   transition: width .4s ease;
   -webkit-transition: width .4s ease;
 }

 .link:hover:after{
   width: 100%;
   left: 0;
   background: var(--bodyfont);
 }

 /* -------------------------------------------------- */
 /* Dark Mode */
 /*slider switch css */
 .theme-switch-wrapper {
   align-self: center;
   display: grid;
   grid-column-start: 3;
   grid-row-start: 1;
   justify-content: center;
 }

 .theme-switch-wrapper p {
   font-size: 1em;
   margin-left: 10px;
 }

 .theme-switch {
   display: inline-block;
   height: 26px;
   position: relative;
   width: 44px;
 }

 .theme-switch input {
   display: none;
 }

 .slider {
   background-color: var(--navassets);
   bottom: 0;
   cursor: pointer;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   transition: .4s;
 }

 .slider:before {
   background-color: var(--nav);
   bottom: 4px;
   content: "";
   height: 18px;
   left: 4px;
   position: absolute;
   transition: .4s;
   width: 18px;
 }

 input:checked+.slider {
   background-color: var(--navassets);
 }

 input:checked+.slider:before {
   transform: translateX(18px);
 }

 .slider.round {
   /* border-radius: 34px; */
 }

 .slider.round:before {
   /* border-radius: 50%; */
 }

 /* -------------------------------------------------- */
